@model IEnumerable<MyApp.School.Public.Dtos.CourseListDto>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

@if (User.HasPermission(Permissions.CourseAdd))
{
    <p>
        <a class="btn btn-primary btn-sm mb-1" asp-action="Create">Create New</a>
    </p>
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.CourseId">Details</a>
                    @if (User.HasPermission(Permissions.CourseEdit))
                    {
                        <a asp-action="Edit" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.CourseId">Edit</a>
                    }
                    @if (User.HasPermission(Permissions.CourseDelete))
                    {
                        <a asp-action="Delete" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.CourseId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
