@model List<MyApp.Admin.Security.Public.Dtos.RoleListDto>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Roles</h1>
@*<br />
<div>
    <form method="post" asp-action="CreateRole" asp-controller="Roles">
        <div class="input-group">
            <input name="roleName" class="form-control w-25" placeholder="New Role Name">
            <span class="input-group-btn">
                <button class="btn btn-info">Create</button>
            </span>
        </div>
    </form>
</div>*@
<br />
<div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(x => x.ElementAtOrDefault(0).Name)</th>
                <th>@Html.LabelFor(x => x.ElementAtOrDefault(0).RoleDescription)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null && Model.Any())
                {
                    foreach (var role in Model)
                    {
                    <tr>
                        <td>@role.Name</td>
                        <td>@role.RoleDescription</td>
                        <td>
                            <a asp-action="Details" class="btn btn-primary btn-sm mb-1" asp-route-id="@role.RoleId">Details</a>
                            <a asp-action="Edit" class="btn btn-primary btn-sm mb-1" asp-route-id="@role.RoleId">Edit</a>
                            <a asp-action="CreateCopy" class="btn btn-primary btn-sm mb-1" asp-route-id="@role.RoleId">Create Copy</a>
                            @if (!role.IsBuiltInRole)
                            {
                                <a asp-action="Delete" class="btn btn-primary btn-sm mb-1" asp-route-id="@role.RoleId">Delete</a>
                            }
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center font-weight-bold text-danger">
                            @Constants.NO_RECORD
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
