@model MyApp.School.Public.Dtos.InstructorDetailDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstructorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
