@model MyApp.School.Public.Dtos.InstructorDetailDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-md-2 col-4">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-md-10 col-8">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
</div>
<div>
    @if (User.HasPermission(Permissions.InstructorEdit))
    {
        <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model.InstructorId">Edit</a>
    }
    @if (User.HasPermission(Permissions.InstructorDelete))
    {
        <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@Model.InstructorId">Delete</a>
    }
    <p><a asp-action="Index">Back to List</a></p>
</div>
