@using AspnetCoreWebMvcApp03.Models
@model List<AspnetCoreWebMvcApp03.Models.AdminViewModels.UserRoleData>
@{
    ViewData["Title"] = "User Roles Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var hasSuperAdminRole = false;
    if (User.IsInRole(Roles.SuperAdmin.ToString()))
    {
        hasSuperAdminRole = true;
    }
}
<h1>User Roles Management</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            @if (hasSuperAdminRole)
            {
            <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            @if (hasSuperAdminRole)
            {
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage User Roles</a>
            </td>
            }
        </tr>
        }
    </tbody>
</table>