@model IEnumerable<MyApp.School.Public.Dtos.DepartmentListDto>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

@if (User.HasPermission(Permissions.DepartmentAdd))
{
    <p>
        <a class="btn btn-primary btn-sm mb-1" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    @if (User.HasPermission(Permissions.DepartmentView))
                    {
                        <a asp-action="Details" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.DepartmentId">Details</a>
                    }
                    @if (User.HasPermission(Permissions.DepartmentEdit))
                    {
                        <a asp-action="Edit" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.DepartmentId">Edit</a>
                    }
                    @if (User.HasPermission(Permissions.DepartmentDelete))
                    {
                        <a asp-action="Delete" class="btn btn-primary btn-sm mb-1" asp-route-id="@item.DepartmentId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
